

body {
    overflow: hidden;
    margin: 0;
    font-family: Poppins;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 1%;
    box-shadow: 0 8px 6px -6px black;
    position: relative;
    transition: 1s top;
    top: -90px;
}

#left-container {
    height: 60px;
    display: flex;
    align-items: center;
}

#right-container {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.button {
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.button:hover{
    opacity: 1;
}

#nav-bar-signature {
    font-size: 1em;
    font-style: italic;
}

#nav-bar-title {
    font-size: 1.5em;
}

.logo {
    max-height:100%;
    object-fit: contain;
}

#start-page {
    text-shadow: 0 0 40px rgba(0, 0, 0, 1);
    letter-spacing: 0.1rem;
    color: white;
    line-height: 4rem;
    position: absolute;
    bottom: 20%;
    transition: 2s bottom;
}

.start-page-title {
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

#sep {
    height: 3px;
    background: white;
    margin: 20px 25%;
}

#start-page-subtitle {
    font-size: 2em;
}

#start-page-signature {
    font-style: italic;
}

#start-button {
    cursor: pointer;
    border: white solid 3px;
    border-radius: 10px;
    margin: 10px 45%;
}


#bg {
    background:url('img/bg.jpg');
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    transition: 2s opacity;
}

#container{
    text-align: center;
    padding: 2% 0px;
}


#text-story-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5%;
}

#text-story-container .button {
    font-size: 2em;
}

#textStory{
    font-size: 1.3em;
    opacity: 0.9;
    padding: 10px;
    width: -webkit-fill-available;
    position: relative;
}

#date {
    text-align: center;
    font-size: 2em;
    font-family: 'Poppins';
}

#textStory {
    text-align: center;
    font-size : 1.3em;
    font-family: 'Poppins';
}

.nodes {
    stroke: #000000;
    stroke-width: 0px;
    /* cursor : pointer; */
}

.links {
    stroke: #000000;
    stroke-opacity: 0.5;
    /* cursor : pointer; */
}
.timeLine {
    stroke: #000000;
    stroke-width: 3px;
}

.timeMarker{
}

.timeMarker:hover {
   cursor: -webkit-grab;
}

#info {
    text-align : center;
    margin : 10px;
    font-family: 'Poppins';
}

#p{
    font-size : 1.5em;
    font-family: 'Poppins';
}
