

body {
    /* overflow: hidden; */
    margin: 0;
    font-family: Poppins;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    background: white;
    padding: 1vh;
    box-shadow: 0 8px 6px -6px black;
    position: absolute;
    left: 0;
    right: 0;
    transition: 1s top;
    top: -10vh;
    z-index: 100;
}

#left-container {
    height: 8vh;
    display: flex;
    align-items: center;
}

#right-container {
    height: 8vh;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.button {
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.button:hover{
    opacity: 1;
}

#nav-bar-signature {
    font-size: 1em;
    font-style: italic;
}

#nav-bar-title {
    font-size: 1.5em;
}

.logo {
    max-height:100%;
    object-fit: contain;
}

#start-page {
    text-shadow: 0 0 40px rgba(0, 0, 0, 1);
    letter-spacing: 0.1vmax;
    color: white;
    line-height: 4vmax;
    padding: 20vh 5vw;
    position: relative;
    top: 0vh;
}

.start-page-title {
    font-size: 3.5vmax;
    text-transform: uppercase;
    letter-spacing: 1vmax;
}

#sep {
    height: 3px;
    background: white;
    margin: 3vmax 25%;
}

#start-page-subtitle {
    font-size: 2.3vmax;
}

#start-page-signature {
    font-style: italic;
    font-size: 1.3vmax;
}

#start-button__container {
    margin-top: 10vh
}

#start-button {
    border: white solid 3px;
    border-radius: 10px;
    cursor: pointer;
    padding: 3vh 4vw;
    font-size: 1.7vmax;
}

#bg {
    background:url('img/bg.jpg');
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -10;
    transition: 2s opacity;
}

#container{
    text-align: center;
    justify-content: center;
    background:url('img/bg.jpg');
    min-height: -webkit-fill-available;
}


#timeline-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5vw;
    position: absolute;
    width: 90vw;
    top: 5vh;
    height: 5vh;
    opacity: 0;
}

#timeline-container .button {
    font-size: 4vmax;
    padding: 40px;
}

#text-story-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5vw;
    position: absolute;
    width: 90vw;
    top: 15vh;
    height: 10vh;
    opacity: 0;
}

#textStory{
    font-size: 1.3vmax;
    opacity: 0.9;
    padding: 10px;
    width: -webkit-fill-available;
    position: relative;
}

#date {
    text-align: center;
    font-size: 2vmax;
    font-family: 'Poppins';
}

#textStory {
    text-align: center;
    font-size : 1.3vmax;
    font-family: 'Poppins';
}

.nodes {
    stroke: #000000;
    stroke-width: 0px;
    /* cursor : pointer; */
}

.links {
    stroke: #000000;
    stroke-opacity: 0.5;
    /* cursor : pointer; */
}
.timeLine {
    stroke: #000000;
    stroke-width: 3px;
}

.timeMarker{
}

.timeMarker:hover {
   cursor: -webkit-grab;
}

#info {
    text-align : center;
    margin : 10px;
    font-family: 'Poppins';
}

#p{
    font-size : 1.5vmax;
    font-family: 'Poppins';
}

#timeline {
    display: flex;
    justify-content: space-between;
    width: 95%;
    top: 15vh;
    left: 2.5%;
}

.timeline-element {
    padding: 5px;
    background: black;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0.5;
}

#nav-bar-shower {
    position: absolute;
    font-size: 4vmax;
    z-index: 1000;
    padding: 2vh;
    background: white;
    border-bottom-right-radius: 100%;
    padding-bottom: 3vh;
    padding-right: 3vh;
}